{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
    <h1>Main page</h1>
    {% if app.user %}
        <div class="checkbox mb-3">
            You are logged in as {{ app.user.username }},
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
{% endblock %}