{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Register{% endtrans %}</h1>
    {{ form(registrationForm) }}
    <div>
        <a href="{{ url('user_login') }}">SignIn</a>
    </div>
{% endblock %}
