{% extends 'base.html.twig' %}

{% block title %}{% trans %}Password reset{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Password reset{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}